body {
  margin: 0;
  background-image: linear-gradient(white, rgba(216, 84, 36, 0.914));
  font-family: "Nova Oval", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
